In [1]:
from datetime import date
from nsepy import get_history
import numpy as np
import pandas as pd
import pickle

In [2]:
symbol = "Reliance"
start = date(2022, 1, 1)
end = date(2022, 1, 30)
data = get_history(symbol=symbol, start=start, end=end)
data['P/L %']=data['VWAP'].pct_change(periods=7)*100
# data.ffill(axis=0)
# data.reindex(idx_daily, method='ffill')
# idx_daily = pd.date_range(start='1/1/2022', end='1/30/2022', freq='D')
data.reset_index(inplace = True)
# pd.to_datetime(data,format='%Y%m%d')
# data['Date'] = data['Date'].astype('datetime64[ns]')
# data.info()
# data['Date'] = pd.to_datetime(data['Date'], errors='coerce')
# data.info()
# data.resample("1M")
# data.reindex(idx_daily, method='ffill')
# data.reindex(idx_daily, method='ffill').reset_index().rename(columns={'index': 'Date'})
df1 = data[['Date', 'P/L %','Symbol']]
# df2=df1.dropna()
# df2.set_index('Date')
# df2
prat=df1.dropna()
prat.reset_index(inplace=True,drop=True)
# prat.drop(['Index'], axis=1)
prat

          Date     P/L %    Symbol
0   2022-01-12  4.733265  RELIANCE
1   2022-01-13  3.622511  RELIANCE
2   2022-01-14  3.663736  RELIANCE
3   2022-01-17  5.442780  RELIANCE
4   2022-01-18  4.238878  RELIANCE
5   2022-01-19  3.707236  RELIANCE
6   2022-01-20  0.872938  RELIANCE
7   2022-01-21 -1.199574  RELIANCE
8   2022-01-24 -4.234721  RELIANCE
9   2022-01-25 -7.926432  RELIANCE
10  2022-01-27 -8.666197  RELIANCE
11  2022-01-28 -7.562145  RELIANCE

In [3]:
symbol = "SBIN"
start = date(2022, 1, 1)
end = date(2022, 1, 30)
data = get_history(symbol=symbol, start=start, end=end)
data['P/L %']=data['VWAP'].pct_change(periods=7)*100
# data['SMA30'] = data['VWAP'].rolling(7).mean()
# data.ffill(axis=0)
# data.reindex(idx_daily, method='ffill')
# idx_daily = pd.date_range(start='1/1/2022', end='1/30/2022', freq='D')
data.reset_index(inplace = True)
# pd.to_datetime(data,format='%Y%m%d')
# data['Date'] = data['Date'].astype('datetime64[ns]')
# data.info()
# data['Date'] = pd.to_datetime(data['Date'], errors='coerce')
# data.info()
# data.resample("1M")
# data.reindex(idx_daily, method='ffill')
# data.reindex(idx_daily, method='ffill').reset_index().rename(columns={'index': 'Date'})
sinha = data[['Date', 'P/L %','Symbol']]
df4=sinha.dropna()
df4.reset_index(inplace=True,drop=True)
df4

          Date     P/L % Symbol
0   2022-01-12  9.392726   SBIN
1   2022-01-13  6.349372   SBIN
2   2022-01-14  3.742594   SBIN
3   2022-01-17  5.083191   SBIN
4   2022-01-18  3.496306   SBIN
5   2022-01-19  1.799368   SBIN
6   2022-01-20  1.905990   SBIN
7   2022-01-21 -1.543880   SBIN
8   2022-01-24 -2.557019   SBIN
9   2022-01-25 -0.070891   SBIN
10  2022-01-27  0.989580   SBIN
11  2022-01-28  3.331383   SBIN

In [7]:
df5=pd.concat([prat,df4])
df5.reset_index(inplace=True,drop=True)
df5.sort_values(by='Date',inplace=True)
df5.reset_index(inplace=True,drop=True)
df5

          Date     P/L %    Symbol
0   2022-01-12  4.733265  RELIANCE
1   2022-01-12  9.392726      SBIN
2   2022-01-13  3.622511  RELIANCE
3   2022-01-13  6.349372      SBIN
4   2022-01-14  3.663736  RELIANCE
5   2022-01-14  3.742594      SBIN
6   2022-01-17  5.442780  RELIANCE
7   2022-01-17  5.083191      SBIN
8   2022-01-18  4.238878  RELIANCE
9   2022-01-18  3.496306      SBIN
10  2022-01-19  1.799368      SBIN
11  2022-01-19  3.707236  RELIANCE
12  2022-01-20  1.905990      SBIN
13  2022-01-20  0.872938  RELIANCE
14  2022-01-21 -1.543880      SBIN
15  2022-01-21 -1.199574  RELIANCE
16  2022-01-24 -2.557019      SBIN
17  2022-01-24 -4.234721  RELIANCE
18  2022-01-25 -0.070891      SBIN
19  2022-01-25 -7.926432  RELIANCE
20  2022-01-27  0.989580      SBIN
21  2022-01-27 -8.666197  RELIANCE
22  2022-01-28 -7.562145  RELIANCE
23  2022-01-28  3.331383      SBIN

In [73]:
import datetime
temp=datetime.date(2022,1,12)
temp_list=[]
from dateutil.relativedelta import relativedelta
six_months =temp + relativedelta(months=+6)
print(six_months)

2022-07-12

In [62]:
df5=df5[df5.Date.isin(temp_list)]
df5

          Date     P/L %    Symbol
0   2022-01-12  4.733265  RELIANCE
1   2022-01-12  9.392726      SBIN
10  2022-01-19  1.799368      SBIN
11  2022-01-19  3.707236  RELIANCE

In [68]:
i=0
for i in range(len(df5.index)-1):
    df6=df5[i:i+2]
    i+=2
df6

          Date     P/L %    Symbol
10  2022-01-19  1.799368      SBIN
11  2022-01-19  3.707236  RELIANCE